.photo{

    background-image: url(../images/cookies.jpg);
}
h1{

color: rgb(255, 255, 255);

}

.dropdown-item {
    color: whitesmoke!important;
}
.dropdown-item:hover {
    background-color: rgb(126, 121, 121)!important;
    color: rgb(231, 228, 25)!important;
    font-style:italic;
}

.back{

background-color: rgb(233, 130, 90);
height: auto;
width: 500px;
opacity: 80%;
border-radius: 25px 0 25px 0;
margin-bottom: 50px;

}

.card{
    border: none;
    background-color: rgba(255, 127, 80, 0.616);
    border-radius:0 25px 0 25px;
}
.btn-success{

    background-color: rgb(57, 170, 235)!important;
    border: whitesmoke!important;
}
.btn-success:hover{

    background-color: rgb(35, 221, 91)!important;
    border: whitesmoke!important;
}



.log {

    text-decoration: none;
    font-size: 15px;
}


.log:hover{

    color: rgb(250, 248, 248);
}