{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
    {# {% if ((not is_granted('ROLE_CONSO')) OR (not is_granted('ROLE_CHIEF'))) %} #}
    <a href="" class="btn btn-success">
        Je veux être admin siouplé
    </a>
    {% if app.user %}<a href="{{ path('type_index') }}">Voir les types !</a>{% endif %}
    {# {% else %}
    <p>Bienvenue admin !</p>
    {% endif %} #}

{% endblock %}
